/* core/static/css/login.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29; /* Màu nền dự phòng nếu ảnh không tải được */
}

/* Lớp phủ chứa ảnh nền */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Đường dẫn tương đối đến ảnh nền của bạn */
    background-image: url('../images/login_bg.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(2px); /* Làm mờ ảnh nền một chút */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.header .nav a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.content {
    max-width: 600px;
    color: #fff;
}

.content h2 {
    font-size: 3.5em;
}

.content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 20px;
}

.content .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.content .social-icons a:hover {
    background: #fff;
    color: #333;
}


.login {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    width: 400px;
    padding: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.login h2 {
    font-size: 2em;
    text-align: center;
    color: #fff;
}

.login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding-right: 28px;
}

.login .input-box input::placeholder {
    color: rgba(255, 255, 255, .8);
    font-weight: 500;
}

.login .input-box i {
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 1.2em;
    color: #fff;
}

.login .remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login .btn {
    width: 100%;
    height: 45px;
    background: #c4103d;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
}

.login .register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}